<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAI_Autosaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <SAI_Autosaver.Properties.Settings>
            <setting name="BackupEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunWithWindows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunInTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupNotifyNotSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupIntoFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackupFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IndexBackupDelay" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IndexSaiVersion" serializeAs="String">
                <value>1</value>
            </setting>
        </SAI_Autosaver.Properties.Settings>
    </userSettings>
</configuration>